.footer {
  padding: 44px 0;
  background-color: $color-black-russian;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__container a {
  fill: $color-default-white;

  @include hover-focus {
    fill: $color-spindle;
    outline: none;
  }

  @include active {
    fill: $color-torch-red;
  }
}

.footer__list,
.footer__social {
  padding: 0;
  margin: 0;
}

.footer__list {
  display: flex;
  gap: 20px 40px;
  flex-wrap: wrap;
  margin-top: -2px;
  margin-left: 9px;
}

.footer__item,
.footer__point {
  list-style-type: none;
  margin: 0;
}

.footer__item a {
  color: $color-default-white;
  font-size: 14px;
  line-height: 16px;

  @include hover-focus {
    color: $color-spindle;
    outline: none;
  }

  @include active {
    color: $color-torch-red;
  }
}

.footer__social {
  display: flex;
  gap: 11px;
  margin-top: -2px;
}

.footer__point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;

  @include hover-focus {
    background-color: $color-light-slate-grey;
    outline: none;
  }

  @include active {
    background-color: $color-chambray;
  }
}

.footer__point .footer__icon {
  @include active {
    fill: $color-default-white;
  }
}

.footer__point a {
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer__icon {
  fill: $color-black-russian;
}

@media (max-width: ($vp-1024 - 1px)) {
  .footer {
    padding: 46px 0;
  }

  .footer__logo {
    width: 82px;
    height: 18px;
  }

  .footer__list {
    gap: 30px;
    margin-left: 15px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .footer {
    padding-top: 26px;
    padding-bottom: 54px;
  }

  .footer__container {
    position: relative;
    flex-wrap: wrap;
  }

  .footer__list {
    display: block;
    column-count: 2;
    column-gap: 32px;
    width: 100%;
    margin-left: 0;
  }

  .footer__list li:first-child {
    margin-top: 40px;
  }

  .footer__item {
    margin-bottom: 16px;
  }

  .footer__logo {
    position: absolute;
    top: 22px;
    left: 15px;
    width: 68px;
  }
}
