.header {
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__container a {
  font-family: $ff-alumni-sans;
  color: $color-default-white;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

@media (max-width: ($vp-1024 - 1px)) {
  .header {
    padding-top: 35px;
  }

  .header__logo {
    width: 82px;
    height: 17px;
  }

  .header__container a {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .02em;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .header {
    padding-top: 15px;
  }

  .header__logo {
    width: 69px;
    height: 24px;
  }

  .header__container a {
    font-size: 20px;
    line-height: 24px;
  }
}
