.main-screen {
  margin-top: -20px;
  padding-bottom: 50px;
}

.main-screen__container {
  display: flex;
  column-gap: 130px;
  flex-direction: row-reverse;
  justify-content: center;
}

.main-screen__img {
  background-color: $color-egyptian-blue;
}

.main-screen__box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 45px;
  margin-top: auto;
}

.main-screen__box span {
  display: inline-block;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: $color-default-white;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
  padding-right: 51px;
  padding-left: 240px;
}

.main-screen__text {
  display: flex;
  padding-bottom: 48px;
}

.main-screen__text h1 {
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 93px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  -webkit-text-stroke: 4px;
  margin: 0;
  order: 1;
  max-width: 264px;
}

.main-screen__list {
  padding: 0;
  margin: 0;
  align-self: flex-end;
  padding-bottom: 36px;
  padding-left: 20px;
}

.main-screen__list li {
  font-size: 14px;
  line-height: 150%;
  color: $color-default-white;
  list-style-type: none;
  text-align: right;
}

.main-screen__button {
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  background-color: transparent;
  padding: 19px 55px;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  @include active {
    background-color: $color-default-white;
    color: $color-crimson;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .main-screen {
    margin-top: -30px;
  }

  .main-screen__container {
    justify-content: flex-end;
    column-gap: 65px;
  }
}

@media (max-width: ($vp-1280 - 1px)) {
  .main-screen {
    margin-top: -10px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .main-screen {
    margin-top: 0;
    padding-top: 18px;
    padding-bottom: 82px;
  }

  .main-screen__container {
    column-gap: 29px;
    justify-content: center;
  }

  .main-screen__img {
    width: 324px;
    height: 390px;
    object-fit: cover;
  }

  .main-screen__box {
    padding-bottom: 24px;
  }

  .main-screen__box span {
    font-size: 34px;
    line-height: 41px;
    padding-bottom: 8px;
    padding-right: 4px;
  }

  .main-screen__text {
    padding-bottom: 36px;
    column-gap: 19px;
  }

  .main-screen__text h1 {
    font-size: 73px;
    line-height: 86px;
    max-width: 192px;
    text-transform: none;
  }

  .main-screen__list {
    padding-left: 0;
    padding-bottom: 21px;
  }

  .main-screen__button {
    padding: 19px 30px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .main-screen {
    padding-top: 63px;
    padding-bottom: 80px;
  }

  .main-screen__container {
    display: block;
  }

  .main-screen__img {
    display: none;
  }

  .main-screen__box {
    // align-items: flex-end;
    align-items: center;
    padding-bottom: 0;
  }

  .main-screen__box span {
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 14px;
  }

  .main-screen__text {
    justify-content: center;
    column-gap: 0;
    padding-bottom: 23px;
  }

  .main-screen__text h1 {
    max-width: 189px;
  }

  .main-screen__list {
    margin-right: -12px;
    padding-bottom: 32px;
  }

  .main-screen__button {
    width: 100%;
  }
}
