.trainers-page {
  padding-bottom: 90px;
}

.trainers-page__container {
  position: relative;
}

.trainers-page__button-prev {
  left: -57px;
  right: auto;
}

.trainers-page__button-next {
  right: -57px;
  left: auto;
}

.trainers-page__container h2 {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 48px;
}

.trainers-page__list {
  padding: 0;
  margin: 0;
}

.trainers-page__item {
  position: relative;
  list-style-type: none;
  margin: 0;
  height: 294px;
  width: 260px;

  &:hover .trainers-page__box,
  &:focus-visible .trainers-page__box {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $color-sapphire-translucent-min;
    overflow: scroll;
  }

  &:hover .trainers-page__box h3,
  &:focus-visible .trainers-page__box h3 {
    margin: 0;
    padding: 0;
    padding-top: 53px;
  }

  &:hover .trainers-page__inner,
  &:focus-visible .trainers-page__inner {
    display: flex;
    flex-direction: column;
    color: $color-default-white;
    align-items: center;
    margin-top: -3px;
  }
}

.trainers-page:hover .trainers-page__box::-webkit-scrollbar,
.trainers-page__item:focus-visible .trainers-page__box::-webkit-scrollbar {
  width: 4px;
}

.trainers-page__item:hover .trainers-page__box::-webkit-scrollbar-track,
.trainers-page__item:focus-visible .trainers-page__box::-webkit-scrollbar-track {
  background: $color-sapphire;
}

.trainers-page__item:hover .trainers-page__box::-webkit-scrollbar-thumb,
.trainers-page__item:focus-visible .trainers-page__box::-webkit-scrollbar-thumb {
  background-color: $color-egyptian-blue;
  border: 2px solid $color-torch-red;
}

.trainers-page__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
  background-color: $color-sapphire-translucent;
}

.trainers-page__box {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 294px;
}

.trainers-page__box h3 {
  font-size: 18px;
  margin: auto 0 0;
  color: $color-default-white;
  padding-bottom: 25px;
}

.trainers-page__text {
  padding: 0;
  max-width: 175px;
  margin: 31px 0 0;
}

.trainers-page__text li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  padding-left: 29px;
  padding-bottom: 9px;
  list-style-type: none;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 12px;
    top: 10px;
    background-color: $color-default-white;
  }
}

.trainers-page__inner {
  display: none;
}

.trainers-page__inner h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: $color-spindle;
}

@media (max-width: 1919px) {
  .trainers-page__button-prev {
    left: -60px;
  }

  .trainers-page__button-next {
    right: -60px;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .trainers-page__container {
    padding: 0;
  }

  .trainers-page__button-prev {
    left: -57px;
  }

  .trainers-page__button-next {
    right: -57px;
  }
}

@media (max-width: ($vp-1280 - 1px)) {
  .trainers-page__container {
    padding: 0 70px;
  }

  .trainers-page__img {
    height: 100%;
  }

  .trainers-page__button-prev {
    left: 0;
  }

  .trainers-page__button-next {
    right: 0;
  }

  .trainers-page__button-prev,
  .trainers-page__button-next {
    top: 59%;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .trainers-page__container {
    padding: 0 100px;
  }

  .trainers-page__container h2 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-left: -7px;
    margin-bottom: 33px;
  }

  .trainers-page__img {
    height: 294px;
  }

  .trainers-page__button-prev {
    left: 44px;
  }

  .trainers-page__button-next {
    right: 44px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .trainers-page__container {
    padding: 0 47px;
  }

  .trainers-page__button-prev {
    left: 15px;
  }

  .trainers-page__button-next {
    right: 15px;
  }

  .trainers-page__container h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }

  .trainers-page__item {
    min-width: 226px;
    max-width: 100%;
    height: 85.5vw;
  }

  .trainers-page__item:focus-visible .trainers-page__box h3,
  .trainers-page__item:hover .trainers-page__box h3 {
    padding-top: 44px;
  }

  .trainers-page__box {
    height: 100%;
  }

  .trainers-page__text li {
    padding-left: 26px;
  }

  .trainers-page__img {
    height: 100%;
  }
}
