.trainers-page {
  padding-bottom: 90px;
}

.trainers-page__container {
  position: relative;
}

.trainers-page__container h2 {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 48px;
}

.trainers-page__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.trainers-page__item {
  position: relative;
  list-style-type: none;
  margin: 0;
  height: 294px;
  width: 260px;

  &:hover .trainers-page__box,
  &:focus-visible .trainers-page__box {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $color-sapphire-translucent-min;
    overflow: scroll;
  }

  &:hover .trainers-page__box h3,
  &:focus-visible .trainers-page__box h3 {
    margin: 0;
    padding: 0;
    padding-top: 53px;
  }

  &:hover .trainers-page__inner ,
  &:focus-visible .trainers-page__inner  {
    display: flex;
    flex-direction: column;
    color: $color-default-white;
    align-items: center;
    margin-top: -3px;
  }
}

.trainers-page:hover .trainers-page__box::-webkit-scrollbar,
.trainers-page__item:focus-visible .trainers-page__box::-webkit-scrollbar {
  width: 4px;
}

.trainers-page__item:hover .trainers-page__box::-webkit-scrollbar-track,
.trainers-page__item:focus-visible .trainers-page__box::-webkit-scrollbar-track {
  background: $color-sapphire;
}

.trainers-page__item:hover .trainers-page__box::-webkit-scrollbar-thumb,
.trainers-page__item:focus-visible .trainers-page__box::-webkit-scrollbar-thumb {
  background-color: $color-egyptian-blue;
  border: 2px solid $color-torch-red;
}

.trainers-page__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-color: $color-sapphire-translucent;
}

.trainers-page__box {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 294px;
}

.trainers-page__box h3 {
  font-size: 18px;
  margin: auto 0 0;
  color: $color-default-white;
  padding-bottom: 25px;
}

.trainers-page__text {
  padding: 0;
  margin: 0;
  max-width: 175px;
  margin: 31px 0 0;
}

.trainers-page__text li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  padding-left: 29px;
  padding-bottom: 9px;
  list-style-type: none;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 12px;
    top: 10px;
    background-color: $color-default-white;
  }
}

.trainers-page__inner {
  display: none;
}

.trainers-page__inner h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: $color-spindle;
}

.trainers-page__button {
  position: absolute;
  display: block;
  top: 243px;
  width: 18px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/arrov.svg");
  border: 0;
  transition: opacity .3s ease;
  background-color: transparent;
  cursor: pointer;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: -5px;
  //   width: 44px;
  //   height: 44px;
  //   background-color: transparent;
  // }
}

.trainers-page__button--prev {
  left: -60px;
}

.trainers-page__button--next {
  right: -60px;
  transform: rotate(180deg);
}

// @media (max-width: ($vp-1024 - 1px)) {
//   .trainers-page__item {

//   }
// }
