.video > span {
  display: none; // savefrom
}

.video__player,
.video__control {
  position: absolute;
  top: 70px;
  width: 364px;
  height: 228px;
  left: -15px;
}

.video__player {
  display: none;
}

.video__control {
  display: flex;

  @include graphic-retina ("gym-video");
  background-size: cover;
  border: none;
  border-radius: 0;
  background-color: $color-resolution-blue;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url("../img/svg/play.svg");
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus-visible::before {
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
  }

  &:active::before {
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
    opacity: 0.9;
  }
}

.video.is-active {
  .video__player {
    display: block;
  }

  .video__control {
    display: none;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .video__player,
  .video__control {
    top: 0;
    left: -185px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .video__control,
  .video__player {
    width: 268px;
    height: 167px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .video__control {
    @include graphic-retina ("gym-video");

    &::before {
      width: 73px;
      height: 73px;
      background-size: 73px 73px;
    }
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .video__player,
  .video__control {
    position: static;
  }

  .video__control {
    padding: 26% 50%;
    width: 0;
    height: 0;

    @include graphic-retina ("gym-video-mobile");
    background-size: 100% auto;
  }

  .video__player {
    width: 100vw;
    height: auto;
  }
}
